

.TwoHandsLogo {
    background-image:url('./../../Images/TwoHands.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center center;
    height: 45vh;
    width: 100%;
}

.Title {
    color: #FFFFFF;
    font-size: 1.4em;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0.8em 0.4em 0 0.4em;
}

.Subtitle {
    color: #FFFFFF;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 1.5em 0 0 0;
}

.HomePage {
    background:#212121;
    background-size: 100% auto;
    background-position: top 15em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}