.GalleryContainer {
    height: 200vh;
    background-color: blue;
    width: 100%;
}

.GalleryTitle {
    padding-top: 99vh;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 40px;
    width: 100%;
}