

.TwoHandsLogo {
    background-image:url('./../../Images/TwoHands.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center center;
    height: 45vh;
    width: 100%;
}

.Footer {
    background: #212121;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgb(172, 172, 172);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

.IconLink {
    padding: 0 0.1em 0 0.1em;
    color: rgb(172, 172, 172);
    cursor: pointer;
}

.IconLink:hover {
    padding: 0 0.1em 0 0.1em;
    color: white;
    cursor: pointer;
}

.LiaText {
    padding-right: 0.2em;
}

.BrookeText {
    padding-left: 0.4em;
    padding-right: 0.2em;
}