.MissionContainer {
    height: 90vh;
    background-color: 	#0d0d3f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.MissionTitle {
    top: 49vh;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 40px;
    width: 100%;
    opacity: 1;
    transition-duration: 8000ms;
    transition-property: opacity;
}

.MissionPages {
    opacity: 0;
    transition-duration: 8000ms;
    transition-property: opacity;
    padding-top: 130px;
}

.MissionText {
    top: 40vh;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: white;
    position: absolute;
    transition-duration: 1500ms;
    transition-property: opacity;
}

.Word {
    font-size: 4vw;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    color: white;
    top: 75%;
    letter-spacing: 0.2em;
    font-family: 'Montserrat', sans-serif;
}

.MissionPageHiddenRight {
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    transition: .3s ease-out;
    position: absolute;
}

.MissionPageHiddenLeft {
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: .3s ease-out;
    position: absolute;
}

.MissionPage {
    width: 100vw;
    transform: translateX(0%);
    transition: .3s ease-out;
    position: absolute;
}

.MissionImage {
    height: 50vw;
    width: 50vw;
    max-width: 470px;
    max-height: 470px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ChevronContainerLeft {
    top: 40vh;
    left: 0px;
    position: absolute;
    font-size: 5em;
    width: 15vw;
    z-index: 100;
    cursor: pointer;
    color: #1377ba;
}

.ChevronContainerRight {
    top: 40vh;
    right: 0px;
    position: absolute;
    font-size: 5em;
    width: 15vw;
    z-index: 100;
    cursor: pointer;
    color: #1377ba;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.ChevronContainerRight:hover {
    animation: shake 2.5s infinite;
}

.ChevronContainerLeft:hover {
    animation: shake 2.5s infinite;
}

@media only screen and (max-width: 800px) {
    .MissionPages {
        padding-top: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .ChevronContainerLeft {
        top: 42vh;
        font-size: 3em;
    }
    
    .ChevronContainerRight {
        top: 42vh;
        font-size: 3em;
    }

    .MissionPages {
        padding-top: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .MissionPages {
        padding-top: 250px;
    }
}